* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  margin-bottom:.8em;
}

a {
  color: black;
  display: inherit;
  text-decoration: none;
}

a:hover {
  color: #f7882f;
  text-decoration: none;
}

button:hover {
  background: #f7882f;
}

html {
  border-radius: 10px;
  height: 100%;
}

body {
  background: #B0B28F;
  /*background: #B2A163;*/
}

div, nav {
  /*border: solid 1px black;*/
}

nav {
  background: #f7c331;
}

nav li {
  display: inline-block;
  margin: 0.5em;
  font-size: 1.7em;
}

h1 {
  font-size: 3.3em;
  padding:.5em;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  padding: 0.6em;
  text-align: center;
}

h3{
  font-size: 1.5em;
  margin: .4em;
}

.main-nav ul {
  max-width: 709px;
  margin: 0 auto;
}

.main-div {
  background-color: #687a8f;
  border-radius: 10px;
  margin: 2em auto;
  padding: 1.3em;
  width:85%;
}

.main-div div{
  background: #f8f8f8;
}

.search-box {
  background: #af473c;
}
.search-box {
  text-align: center;
}

.icon-menu{
  display:inline;
  float: right;
}


.main-div h3{
  text-decoration: underline;
}

.main-div ul {

  font-size:1.3em;
  line-height: 1.2em;
  margin-left: .5em;
}

.main-div li {
  font-size: 0.7em;
  margin-left: 1.2em;
}


.recipe-image {
max-width: 100%;
min-width: 40%;
}

.recipes {
  border-bottom: 5px solid #687a8f;
  margin-bottom:6vw;
  max-width: 100%;
  padding-bottom: 1vw;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.recipe-results {
  padding:.7em;
  text-align: center;
  width: 100%;
  line-height: 1.8em;
}

.show-more {
  margin: .5em 20% 0 20%;
  padding: .3em 0
  border-top: 5px solid #687a8f;
}
