* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  margin-bottom:.8em;
}

body {
  background: #f8f8f8;
}

div, nav {
  /*border: solid 1px black;*/
}

nav {
  margin-bottom: 2em;
  background: #f7c331;
}


.main-div {
  width:85%;
  margin: 2em auto;
  padding: 1.3em;
  background-color: #687a8f;
}

.main-div div{
  background: #f8f8f8;
}

.search-box {
  background: #af473c;
}
.search-box {
  text-align: center;
}

.icon-menu{
  display:inline;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0.5em;
  font-size: 1.7em;
}

h1 {
  font-size: 3.3em;
  text-align: center;
  padding:.5em;
}

h2 {
  text-align: center
}

h2, h3{
  font-size: 1.5em;
  margin: .4em;
}

.main-div h3{
  text-decoration: underline;
}

.main-div ul {
  font-size:1.3em;
  line-height: 1.2em;
  margin-left: .5em;
}

.main-div li {
  font-size: 0.7em;
  margin-left: 1.2em;
}

a {
  text-decoration: none;
  color: #f7882f;
}

#recipe-results {
  text-align: left;
  padding:.7em;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
