section#login {
  position: fixed;
  border: #6B7A8F groove 2px;
  background-color: #F7882F;
  width: 100%;
  padding: 10px 10%;
  overflow: auto;
  text-align: center;
  box-shadow: 0px 5px 5px black;
}

input#username {
  border: #F7C331 inset 2px;
  background: linear-gradient(#DCC7AA, #fff);
  width: 100%;
  color: #550000;
  font-size: 6vw;
  margin: 0;
  border-top-right-radius: 2vw;
  border-top-left-radius: 2vw;
  border-bottom: 0;
  padding-left: 2vw;
}

input#password {
  border: #F7C331 inset 2px;
  background: linear-gradient(#DCC7AA, #fff);
  width: 100%;
  color: #550000;
  font-size: 6vw;
  margin: 0;
  border-bottom-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  padding-left: 2vw;
}

#login button {
  width: 80%;
  border-radius: 2vw;
  font-size: 5vw;
  display: block;
  padding: 2vw 8vw;
  margin: 0 auto;
  margin-top: 4vw;
  margin-bottom: 12vw;
  background: linear-gradient(#6B7A8F, #DCC7AA 120%);
  color: white;
  border: #F7C331 outset 2px;
}


#login #userPop, #login #passwordPop {
  text-align: right;
  font-size: 3vw;
  color: #aa0000;
}

#login #passwordPop {
  padding-top: 1vw;
}

#login h2 {
  color: white;
  font-size: 6vw;
}

#login a {
  position: absolute;
  font-size: 5vw;
  right: 2vw;
  bottom: 2vw;
  color: white;
}

#full-ingredient-search {
  width: 100%;
  text-align: center;
}
